@charset "utf-8";
/* CSS Document */

body
{ background-color:#CCC);
margin-top:0px;
margin-left:0px;
-webkit-animation:myfirst 10s;
-webkit-animation-iteration-count:3;
-webkit-animation-play-state:running;
-webkit-animation-timing-function:ease;
}

#signupbutton
{margin-right:-120px;
border:1px #FFFFFF;
padding:5px 4px; 
background:#dddddd;
width:70px;
border-radius:5px;
background-color:#C00;
color:#FFF;

}