@charset "utf-8";
/* CSS Document */
body
{ background-color:#CCC);
margin-top:0px;
margin-left:0px;
-webkit-animation:myfirst 10s;
-webkit-animation-iteration-count:3;
-webkit-animation-play-state:running;
-webkit-animation-timing-function:ease;
}
#container
{width:100%;}
#Searchbox
{margin-top:-82px;
margin-right:5px;
-webkit-transform:rotate(0deg);
}
#loginfield
{margin-top:-1px;}
#bottom
{margin-top:30px;}
#content
{background-color:#EEEEEE;width:70%;float:left;margin-top:10px;margin-left:30px;border-color:#FFFFFF;box-shadow:#06F 1px 1px 3px}
#menu
{height:450px;width:10%;float:left;margin-top:1px;margin-left:2px;
}
#menubar
{
	margin-top:-45px;
	width:80px;
	padding: 10.5px 15px;
background: rgb(30,87,153);
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); 
}
#menubar1
{
	margin-top:-20px;
	width:80px;
	padding: 10.5px 15px;
	background: rgb(30,87,153);
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); }
#menubar:hover
{
	background: rgb(242,246,248);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
}
#menubar1:hover
{
	background: rgb(242,246,248);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
}
#oval
{border:2px #FFFFFF;
padding:7px 40px; 
background:#dddddd;
width:90px;
border-radius:15px;
transition:width 2s;
-moz-transition:width 2s;
-webkit-transition:width 2s;
-o-transition:width 2s;
}
#oval:hover
{	
width:120px;
}
#loginbutton
{margin-right:60px;
border:1px #FFFFFF;
padding:5px 13px; 
background:#dddddd;
width:50px;
border-radius:5px;
background-color:#C00;
color:#FFF;

}
a{
decoration:none;
}

#textar
{
	overflow: auto; 
	max-height: 350px; 
}
#image
{
	padding:0px;
	border:3px solid white;
	margin:0px;
}
#image:hover
{-webkit-box-shadow: #3A6E8F 4px 3px 3px;
box-shadow: #3A6E8F 0px 5px 5px;
}
